#geometron-canvas{
    position:absolute;
    right:1%;
    top:1%;
    border:solid;
    border-radius:0.3%;
    border-width:0.3%;
    z-index:-1;
}
#geometron-glyph-scroll{
    position:absolute;
    right:1%;
    top:1%;
    border:solid;
    border-radius:0.3%;
    border-width:0.3%;
    z-index:-2;
    overflow:scroll;
}
#geometron-glyph-scroll svg{
    max-width:50%;
    display:block;
    margin:auto;
    border:solid;
}
#geometron-spell-canvas{
    position:absolute;
    left:1%;
    top:1%;
    border-radius:0.3%;
    z-index:-1;
}
main{
    position:absolute;
    border:solid;
    left:1%;
    top:1%;
    border-radius:0.3%;
    border-width:0.3%;
    z-index:0;
}